@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --color-uno: #C7EFC4;
    --color-dos: #F6F6F6;
    --color-tres: #7EDCAF;
    --color-cuatro: #0A3871;
    --color-cinco: #a1a2a3f1;
    --color-seis: #272727;
    --fuente-ptserif: 'PT Serif', serif;
    --fuente-montserrat: 'Montserrat', sans-serif;
}

body {
    font-family: var(--fuente-ptserif);
    margin: 20px;
    padding: 20px;
    background: linear-gradient(180deg, #d4d8e5 32.24%, #8ba0e5 80%);
    border: 1px solid #000000;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}
h1 {
    font-size: 3rem; /* Tamaño de fuente por defecto para pantallas grandes */
    text-align: center;
    margin: 20px 0; /* Espaciado superior e inferior */
}
.container {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se ajusten en pantallas pequeñas */
    justify-content: center; /* Centra el contenido horizontalmente */
    gap: 20px; /* Espacio entre los elementos */
}

.box {
    flex: 1 1 300px; /* Se ajusta según el tamaño del contenedor */
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--color-cinco);
    background-color: var(--color-dos);
}
.box__muneco {
    flex: 0 0 22%; /* Mantiene el ancho máximo al 22% */
    display: flex;
    flex-direction: column; /* Organiza el contenido verticalmente */
    justify-content: center; /* Centra el contenido verticalmente */
    align-items: center; /* Centra el contenido horizontalmente */
    margin: 10px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 8px;
    background-color: var(--color-tres);
    box-sizing: border-box; /* Incluye el padding y border en el ancho total */
    max-width: 380px; /* Asegura que tenga el ancho disponible */
}

textarea {
    width: 100%;
    height: 100px;
    margin: 10px 0; /* Espaciado vertical */
    padding: 10px;
    border-radius: 4px;
    border: 1px solid var(--color-cinco);
    resize: none; /* Evita cambiar el tamaño */
    box-sizing: border-box;/* Incluye padding y border en el ancho total */
}

button {
    background-color: var(--color-cinco);
    color: white;
    border: none;
    border-radius: 4px;
    margin: 5px 0;
    padding: 10px 15px;
    cursor: pointer;
}

button:hover {
    background-color: var(--color-cuatro);
}

#resultadoEncriptar, #resultadoDesencriptar {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid var(--color-cinco);
    background-color: var(--color-uno);
}

.muneco {
    max-width: 100%; /* Ajusta el tamaño del muñeco */
    margin-bottom: 10px; /* Espacio debajo del muñeco */
}

.mensaje {
    margin: 10px 0; /* Espacio vertical alrededor del texto */
    text-align: center; /* Centra el texto */
}

.boton_copiar {
    padding: 10px 15px; /* Espaciado del botón */
    background-color: var(--color-cinco); /* Color de fondo */
    color: white; /* Color del texto */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar el mouse */
}

footer {
    margin-top: 20px;
    padding: 20px;
    text-align: center;
    background-color: var(--color-uno);
    border-top: 1px solid var(--color-cinco);
    border: 1px solid #000;
    width: 110%; /* Asegura que el footer ocupe el 110% del ancho */
    box-sizing: border-box; /* Incluye padding en el ancho total */
    border-radius: 10px; /* Ajusta el valor para el redondeo */
}

.footer {
    color: var(--color-seis);
    background-color: var(--color-tres);
    padding: 24px;
    text-align: center;
    font-family: var(--fuente-montserrat);
    font-size: 1.5rem;
    font-weight: 400;
}

footer p {
    margin: 0;
}

footer a {
    color: var(--color-cuatro);
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: var(--color-seis);
}

.logo, .muneco {
    max-width: 70%; /* Se ajustan al contenedor */
    height: auto; /* Mantiene la proporción */
}

@media (max-width: 900px) {
    h1 {
        font-size: 2.5rem; /* Ajusta el tamaño de la fuente para pantallas medianas */
        margin: 15px 0;
    }
    body {
        margin: 5px;
        padding: 10px;       
    }
    .box, .box__muneco {
        flex: 1 1 95%; /* Toman todo el ancho disponible */
    }
    .footer{
        font-size: 1rem;
        font-weight: 300;
    }
}

@media (max-width: 600px) {
    h1 {
        font-size: 1.5rem; /* Ajusta el tamaño de la fuente para pantallas pequeñas */
        margin: 10px 0;
    }
    body {
        margin: 10px;
        padding: 10px;
        
    }

    .box, .box__muneco {
        margin: 5px;
        padding: 10px;
        
    }

    footer {
        width: 100%;
        padding: 10px;
    }
    .footer{
        font-size: 0.8rem;
        font-weight: 300;
    }
}
